html, body  {
  font-size: 10px;
  margin: 0;
  height: 100%;
  background-color: black;
}

.afe-icon {
  position: absolute;
  display: grid;
  height: 50%;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: 1;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  z-index: 2;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  z-index: 2;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.grid-scoreboard {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.grid-button {
  grid-column: 1 / 3;
}

.face-icon {
  height: 20rem;
  width: auto;
  max-height: 25vh;
  object-fit: contain;
  color: white;
}

.button {
  flex-direction: row;
  border: .4rem solid white;
  border-radius: .25rem;
  margin: 1rem;
  padding: 1rem;
  width: 75%;
  height: 3vh;
  text-align: center;
  line-height: 3vh;
  color: white;
  background: rgba(100,100,100,.7);
}

text {
  font-size: 2.5vh;
  font-family: "Arial Black";
  color: white;
}

score-text {
  font-size: 5vh;
  font-family: "Arial Black";
  color: #ffc600;
}

.button-hover {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}


.selection-display {
  border: .25rem solid white;
  border-radius: 2rem;
  color: white;
}
